$display-font: "Pixel";
$border-colour: #b4c2cc;
$calc-body-colour: rgb(211, 230, 231);
$display-colour: rgb(82, 77, 75);
$display-colour-light: rgb(134, 125, 122);
$button-colour-white: rgb(238, 227, 227);
$number-colour: rgb(169, 188, 194);
$clear-all-button: rgb(241, 101, 101);
$clear-last-button: rgb(250, 173, 29);
$operator-colour: rgb(166, 230, 166);
$equals-colour: rgb(247, 151, 167);
$border-rad: 30px;
